// Import related component scss files.
@import './ChatbotFootnote';

// ============================================================================
// Chatbot Footer
// ============================================================================
.pf-chatbot__footer {
  padding: var(--pf-t--global--spacer--lg);
  background-color: var(--pf-t--chatbot--background);
}

// ============================================================================
// Chatbot Display Mode - Fullscreen
// ============================================================================
.pf-chatbot--fullscreen {
  .pf-chatbot__footer {
    .pf-v6-c-divider {
      display: none;
    }
  }
}

// ============================================================================
// Chatbot Display Mode - Embedded
// ============================================================================
@media screen and (min-width: 1024px) {
  .pf-chatbot--embedded {
    .pf-chatbot__footer {
      .pf-v6-c-divider {
        display: none;
      }
    }
  }
}
